<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Komentiraj</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
        <textarea id="description" name="description" rows="7"
                  class="form-control {%if form.description.errors %}is-invalid{%endif%}"
        >{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        <div class="text-danger">
            {{ form.description.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="image" class="btn btn-light mr-3 my-2 cursor-pointer">
            Dodaj sliku svom komentaru
        </label>
        <input id="image" name="image" type="file"
           onchange="document.getElementById('image-label').innerHTML = document.getElementById('image').files[0].name"/>
        <span id="image-label"></span>
        <div class="text-danger">
            {{ form.image.errors }}
        </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Zatvori</button>
    <button class="submit-btn btn btn-primary">Komentiraj</button>
  </div>

</form>
