{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}

    <main class="container py-5">
        <h3 class="mb-4">Postavi pitanje u grupu {{ group.0 }}</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title" class="col-form-label">Naslov</label>
                <input id="title" name="title" type="text"
                       class="form-control {%if form.title.errors %}is-invalid{%endif%}"
                       {% if form.title.value %} value="{{ form.title.value }}" {% endif %}/>
                <div class="text-danger">
                    {{ form.title.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-form-label text-center">Opis</label>
                <textarea id="description" name="description" rows="7"
                          class="form-control {%if form.description.errors %}is-invalid{%endif%}"
                >{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                <div class="text-danger">
                    {{ form.description.errors }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-light mr-3 my-2 position-relative">
                    Dodaj sliku svom pitanju
                    <input id="image" name="image" type="file" class="top-right h-100 w-100"
                           onchange="document.getElementById('image-label').innerHTML = document.getElementById('image').files[0].name"/>
                </button>
                <label for="image" id="image-label"></label>
                <div class="text-danger">
                    {{ form.image.errors }}
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end mt-4 mb-2">
                <a href="{% url 'group' group.0.id %}">Natrag</a>
                <button type="submit" class="btn btn-primary ml-4 px-4">Postavi pitanje</button>
            </div>
        </form>
    </main>
{% endblock %}