{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}

    <main>
    <div class="landing d-flex justify-content-center w-100">
        <div class="mx-4 mb-5">
        <h1 class="display-3 font-weight-bold">Istraži ljepote Surija,</h1>
        <h4 class="mt-4 font-weight-light">najnovije platforme za suradnju studenata STEM područja</h4>
        <div class="container">
            <h5 class="ml-n3">Ovdje možeš:</h5>
            <div class="row text-uppercase text-center">
                {% load static %}
                <div class="col-sm-4 mb-3">
                    <img src="{% static 'images/icon1.svg' %}" alt="" class="my-3"><br>
                    <span>postavljati pitanja</span>
                </div>
                <div class="col-sm-4 mb-3">
                    <img src="{% static 'images/icon2.svg' %}" alt="" class="my-3"><br>
                    <span>pomagati kolegama</span>
                </div>
                <div class="col-sm-4 mb-3">
                    <img src="{% static 'images/icon3.svg' %}" alt="" class="my-3"><br>
                    <span>savladavati prepreke</span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="text-uppercase h4 scroll-button btn btn-primary">Istraži!</button>
        </div>
        </div>
    </div>

    <div class="container py-5 content min-vh-100">
        {% if user.is_authenticated %}
            <h3 class="mb-4">Grupe koje pratim</h3>
            {% if subscriptions.count == 0 %}
                <i>Zaprati grupe koje te posebno zanimaju pritiskom na zvjezdicu
                    <i class="text-warning far fa-star mx-2"></i> u gornjem desnom kutu.
                </i>
            {% endif %}
            <div class="d-grid">
            {% for group in subscriptions %}
                {% include 'main_app/index_group_card.html' %}
            {% endfor %}
            </div>
            <h3 class="mt-5 mb-4">
                Sve grupe
                <a href="{% url 'create_group' %}" class="btn btn-outline-primary float-right">
                    <i class="fas fa-plus"></i>
                    <span class="pl-2">Kreiraj grupu</span>
                </a>
            </h3>
        {% endif %}
        <div class="d-grid">
        {% for group in all_groups %}
            {% include 'main_app/index_group_card.html' %}
        {% endfor %}
        </div>
    </div>
    </main>

{% endblock %}