{% extends 'base.html' %}

{% block content %}
    <div class="carousel slide vh-100 vw-100" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner">
            {% load static %}
            {% for i in random_array %}
            {% with j=i|stringformat:'s' %}
            {% with template='images/carousel'|add:j|add:'.jpg' %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <img class="d-block vh-100 vw-100" src="{% static template %}" alt="">
            </div>
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </div>
        <div class="overlay h-100 w-100"></div>
    </div>

    <div class="landing top-right d-flex justify-content-center w-100 text-white">
        <div class="mx-4 mb-5">
        <h1 class="display-3 font-weight-bold">Istraži ljepote Surija,</h1>
        <h4 class="mt-4 font-weight-light">najnovije platforme za suradnju studenata STEM područja</h4>
        <div class="container">
            <h5 class="ml-n3 font-weight-light">Ovdje možeš:</h5>
            <div class="row text-uppercase font-weight-light text-center">
                <div class="col-sm-4 mb-3">
                    <img src="{% static 'images/icon1.svg' %}" alt="" class="my-3"><br>
                    <span>postavljati pitanja</span>
                </div>
                <div class="col-sm-4 mb-3">
                    <img src="{% static 'images/icon2.svg' %}" alt="" class="my-3"><br>
                    <span>pomagati kolegama</span>
                </div>
                <div class="col-sm-4 mb-3">
                    <img src="{% static 'images/icon3.svg' %}" alt="" class="my-3"><br>
                    <span>savladavati prepreke</span>
                </div>
            </div>
        </div>
        <div class="container p-0">
            <div class="row text-center align-items-center">
                <a class="col-4 text-uppercase h4 text-white" href="{% url 'login' %}">Pridruži nam se</a>
                <span class="col-4 font-weight-light">ili</span>
                <a class="col-4 text-uppercase h4 text-white" href="{% url 'home' %}">Istraži</a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}