{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}

    <main class="container py-5">
        <h2>{{ question.title }}</h2>

        {% if question.user == user %}
            <button data-id="{% url 'delete_question' question.id %}?group_id={{ question.group.id }}"
                    class="btn btn-outline-danger btn-delete-question">
                <i class="far fa-trash-alt"></i>
                <span class="pl-2">Obriši pitanje</span>
            </button>
        {% endif %}

        <p class="text-secondary mb-4">
            <a href="{% url 'group' question.group.id %}">
                {{ question.group }}
            </a>
            <br>
            <a href="{% url 'profile' question.user %}" class="text-dark">
                <i class="fas fa-user"></i>
                {% if question.user.first_name and question.user.last_name %}
                    {{ question.user.first_name }} {{ question.user.last_name }}
                {% else %}
                    {{ question.user }}
                {% endif %}
                {% if question.user.university %}, {{ question.user.university }}{% endif %}
            </a>
            <br>
            {{ question.date|date:'j. E Y. H:i' }}
        </p>

        <div class="mb-5">
            <p>{{ question.description }}</p>
            {% if question.image %}<img src="{{ question.image.url }}" alt="">{% endif %}
        </div>

        {% for answer in answers %}
            {% include 'main_app/answer.html' %}
        {% endfor %}

        {% if user.is_authenticated %}
            <button class="btn btn-primary btn-create-answer">
                <i class="fas fa-reply fa-rotate-180 pl-2"></i>
                Komentiraj
            </button>
        {% else %}
            <i class="text-secondary">
                Da biste odgovorili na ovo pitanje ili ostavili komentar, molimo
                <a href="{% url 'login' %}?next={{request.path}}">prijavite se</a> ili
                <a href="{% url 'register' %}?next={{request.path}}">registrirajte</a>.
            </i>
        {% endif %}
    </main>
{% endblock %}
