{% extends 'base.html' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
        <div class="container">
            <div class="col-lg-6 card card-body p-5 my-5">
                <h1 class="mb-4">Promjena lozinke</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="old_password" class="col-form-label">Stara lozinka</label>
                        <input id="old_password" name="old_password" type="password"
                               class="form-control {%if form.old_password.errors %}is-invalid{%endif%}"
                               {% if form.old_password.value %} value="{{ form.old_password.value }}" {% endif %}/>
                        <div class="text-danger">
                            {{ form.old_password.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_password1" class="col-form-label d-flex justify-content-between align-items-end">
                            Nova lozinka
                            <span class="pr-3 mr-n3" tabindex="0"
                                  data-toggle="tooltip" data-placement="right" data-html="true"
                                  title="{{ form.new_password1.help_text }}">
                                <i class="fas fa-info-circle text-primary"></i>
                            </span>
                        </label>
                        <input id="new_password1" name="new_password1" type="password"
                               class="form-control {%if form.new_password1.errors or form.new_password2.errors %}is-invalid{%endif%}"/>
                        <div class="text-danger">
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_password2" class="col-form-label">Ponovno upiši novu lozinku</label>
                        <input id="new_password2" name="new_password2" type="password"
                               class="form-control {%if form.new_password2.errors or form.new_password1.errors %}is-invalid{%endif%}"/>
                        <div class="text-danger">
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4 mb-2">
                        <a href="{% url 'profile' user.username %}">Natrag na osobni profil</a>
                        <button type="submit" class="btn btn-primary ml-4 px-4">Promijeni lozinku</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}