{% extends 'base.html' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
        <div class="container">
            <div class="col-md-6 card card-body p-5 my-5">
                <h1 class="mb-4">Prijava</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-form-label">Korisničko ime</label>
                        <input id="username" name="username" type="text"
                               class="form-control {%if form.username.errors %}is-invalid{%endif%}"
                               {% if form.username.value %} value="{{ form.username.value }}" {% endif %}/>
                        <div class="text-danger">
                            {{ form.username.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label text-center">Lozinka</label>
                        <input id="password" name="password" type="password"
                               class="form-control {%if form.password.errors %}is-invalid{%endif%}"/>
                        <div class="text-danger">
                            {{ form.password.errors }}
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4 mb-2">
                        <a href="{% url 'register' %}">Nemaš račun?</a>
                        <button type="submit" class="btn btn-primary ml-4 px-4">Prijava</button>
                    </div>
                    <a href="{% url 'reset_password' %}">Zaboravio/la si lozinku?</a><br>
                    <a href="{% url 'index' %}">Natrag na početnu stranicu</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}