main {
    position: relative;
}

main .landing, main .content {
    padding-top: 4em !important;
}
main .landing .container:nth-of-type(1) {
    margin: 4.5em 0 4em;
}
main .landing img {
    width: 130px;
}

main .d-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 2rem;
}

main a:hover .card,
main a:focus .card {
    background: #f8f9fa;
    transition: 150ms;
}

.btn-create-question, .btn-delete-question {
    position: absolute;
    right: 15px;
    top: 3rem;
}
@media screen and (max-width: 800px) {
    .btn-create-question span, .btn-delete-question span {
        display: none;
    }
}

form input[type='file']#image {
    opacity: 0;
    cursor: pointer;
}
input[type='file']::-webkit-file-upload-button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.answer_stats button:disabled {
    opacity: 1;
}

.comment-action-container {
    position: absolute;
    top: 15px;
    right: 100%;
    height: 48px;
    width: 5px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
}
.comment-action-container:hover,
.comment-action-container:focus {
    width: 50px;
    background: transparent !important;
}
@media screen and (max-width: 630px) {
    .comment-action-container {
        left: 15px;
        top: -5px;
        width: 48px;
        height: 5px;
        border-radius: 4px 4px 0 0;
    }
    .comment-action-container:hover,
    .comment-action-container:focus {
        height: 50px;
        transform: translateY(-40px);
    }
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}
