<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Suri</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'solid.min.css' %}">
    <link rel="stylesheet" href="{% static 'brands.min.css' %}">
    <link rel="stylesheet" href="{% static 'regular.min.css' %}">
    <link rel="stylesheet" href="{% static 'toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/style.css' %}">
</head>
<body class="m-0 p-0 min-vh-100">
    {% block content %}
    {% endblock %}

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'toastr.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if '/question/' in request.path %}
                $('.btn-create-answer').each(function () {
                    $(this).modalForm({ formURL: "{% url 'create_answer' question.id %}" });
                });
                $(".btn-delete-answer").each(function () {
                    $(this).modalForm({ formURL: $(this).data('id') });
                })
                $('.btn-delete-question').each(function () {
                    $(this).modalForm({ formURL: $(this).data('id') });
                })
            {% endif %}
            {% if '/group/' in request.path %}
                $('.btn-delete-group').each(function () {
                    $(this).modalForm({ formURL: $(this).data('id') });
                })
            {% endif %}
            $('[data-toggle="tooltip"]').tooltip()
            $('.scroll-button').click(function() {
                $('html,body').animate({
                    scrollTop: $('.content').offset().top
                }, 'medium');
            });
        });
    </script>
    {% if messages %}
        {% for message in messages %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endfor %}
    {% endif %}
</body>
</html>
