<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suri</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'solid.min.css' %}">
    <link rel="stylesheet" href="{% static 'brands.min.css' %}">
    <link rel="stylesheet" href="{% static 'regular.min.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>