<header class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <a href="{% url 'index' %}" class="navbar-brand nav-link active">SuRI</a>
    <nav class="mr-auto navbar-nav">
        {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}" class="nav-link">Admin stranica</a>
        {% endif %}
    </nav>
    {% if user.is_authenticated %}
        <span class="mr-4">{{ user }}</span>
        <a href="{% url 'logout' %}" class="btn btn-primary mr-3">Odjava</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary mr-3">Prijava</a>
    {% endif %}
</header>