<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand nav-link active">SuRI</a>
        <nav class="mr-auto navbar-nav">
            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="nav-link">Admin stranica</a>
            {% endif %}
        </nav>
        {% if user.is_authenticated %}
            <span class="mr-4">{{ user }}</span>
            <a href="{% url 'logout' %}?next={{request.path}}" class="btn btn-outline-primary mr-3">Odjava</a>
        {% else %}
            <a href="{% url 'login' %}?next={{request.path}}" class="btn btn-outline-primary">Prijava</a>
            <a href="{% url 'register' %}?next={{request.path}}" class="btn btn-outline-primary mx-3">Registracija</a>
        {% endif %}
    </div>
</header>