<div class="dropdown-item">
    {{ n.actor }} {{ n.verb }} {{ n.target }}
    <br>
    <p class="small text-secondary my-2">{{ n.timestamp }}</p>
    <div class="d-flex justify-content-end align-items-center">
    {% if n.verb == 'želi kreirati grupu' %}
        Odobri?
        <a href="{% url 'accept_group' n.target.id n.id %}?next={{request.path}}"
           class="btn btn-success btn-sm ml-3">
            Da
        </a>
        <a href="{% url 'deny_group' n.target.id n.id %}?next={{request.path}}"
           class="btn btn-danger btn-sm ml-2">
            Ne
        </a>
    {% else %}
        <a href="{% url 'notifications:delete' n.slug %}?next={{request.path}}">Obriši</a>
    {% endif %}
    </div>
</div>